.sticky_container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: auto;
    position: sticky;
    z-index: 9;
    top: 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 100px !important;
    background-color: white;
    /* border: 2px solid pink; */
}

::-webkit-scrollbar {
    width: 0px;
    /* Width of the scrollbar */
    height: 0px;
}

.sticky_header {
    z-index: 99;
    width: 80%;
    /* background-color: red; */
    padding: 10px 0 10px 0;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    bottom: 0;
    overflow-x: auto;
}

.sticky_header a {
    text-decoration: none;
    color: inherit;
}

.sticky_link {
    width: max-content;
    background: #0670AB;
    border-radius: 2px;
    margin-right: 40px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 30px;
    /* line-height: 19px; */
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.sticky_container>button {
    padding: 0px;
    font-size: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky_container>.left_arrow {
    position: absolute;
    left: 100px !important;
    top: 50%;
    bottom: 50%;
    z-index: 99;
    color: rgba(0, 0, 0, 0.354);
}

.sticky_container>.right_arrow {
    position: absolute;
    right: 100px !important;
    top: 50%;
    bottom: 50%;
    z-index: 99;
    color: rgba(0, 0, 0, 0.354) !important;
}

.sticky_container>.left_arrow :hover,
.sticky_container>.right_arrow :hover {
    color: whitesmoke !important;
    background-color: rgba(0, 129, 201, 0.85);
    border-radius: 100%;
}

@media (max-width:1160px) {
    .sticky_header {
        z-index: 99;
        width: 100%;
        /* background-color: red; */
        padding: 2px;
    }
}

@media (max-width:920px) {
    .sticky_header {
        z-index: 99;
        width: 100%;
        /* background-color: red; */
        padding: 2px;
    }

    .sticky_link {
        width: max-content;
        margin-right: 10px;
        /* font-size: 12px; */
        /* padding: 10px; */
    }
}


@media (max-width:420px) {
    .sticky_container {
        top: 160px !important;
        width: 75%;
        /* border: 1px solid lime; */
    }

    .sticky_container>.left_arrow {
        position: absolute;
        left: -48px !important;
        top: 50%;
        bottom: 50%;
        z-index: 99;
        color: rgba(0, 0, 0, 0.354);
    }

    .sticky_container>.right_arrow {
        position: absolute;
        right: -48px !important;
        top: 50%;
        bottom: 50%;
        z-index: 99;
        color: rgba(0, 0, 0, 0.354) !important;
    }
}