.navContainer {
  position: absolute;
  width: 98vw;
  z-index: 10;
  /* background-color: red !important; */
}

.logo {
  width: 15%;
}

.logo img {
  width: 100%;
}

.navbar {
  display: flex;
  width: 100% !important;
  position:fixed !important;
  top: 0;
  justify-content: space-between;
  height: 100px;
  padding: 20px 124px 20px 140px;
  /* background-color: black; */
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.308);
  backdrop-filter: blur(10px); 
}

.otherMenu {
  text-decoration: none;
  color: black !important;
}

.rightMenu {
  display: grid;
  padding-top: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 66px;
}

.imageContainer {
  height: 100vh;
  background-image: url("../../videos/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(30%);
  z-index: -1;
}

.iconSpace {
  padding-right: 41px;
}

.otherMenu {
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

a {

  color: black;
}

/* .dropDown {
  font-weight: 400;
  font-size: 24px;
  text-transform: capitalize;
  width: 350px;
} */
.l_dropdown {
  display: flex;
  right: 10%;
  top: 100px;
  position: absolute;
  flex-direction: column;
}

.l_dropdown button {
  border: none;
  background-color: black;
  color: white;
  padding: 20px;

}

@media only screen and (max-width:512px) {
  .navbar {
    padding: 20px;
    width: 100% !important;
  }

  .rightMenu {
    grid-gap: 20px;
  }

  .logo {
    width: 35%;
  }

  .logo img {
    width: 100%;
  }

}

@media only screen and (max-width:512px) {
  .navbar {
    padding:0 20px;
    display: flex;
    align-items: center;
    height: auto;
    
    width: 100% !important;
    /* overflow: hidden; */
    /* background-color: red; */
  }
  .rightMenu {
    grid-gap: 20px;
    /* background-color: red; */
    /* width: 20%; */
    display: flex;
    padding-bottom: 20px;
    justify-content: end;
  }

  .logo {
    width: 30%;
  }

  .logo img {
    width: 100%;
  }

}