.test_container {
    width: 80%;
    padding: 60px 0 0 0;
    margin: auto;
    /* border: 1px solid lime; */
}

.test_heading {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 0.04em;
    color: #0081C9;
    padding: 0 0 60px 0;
}

.test_video_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/*  */
.tile {
    width: 32.50%;
    margin-bottom: 20px;
    height: 300px;
    perspective: 1000px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipped {
    transform: rotateX(180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front img{
    width: 40%;
}

.front {
    background-color: #D9D9D9    ;
    /* color: white; */
    display: flex;
    /* border: 1px solid gray; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.back {
    background-color: #377C2B;
    background-color: rgb(232, 232, 232);
    /* color: white; */
    transform: rotateX(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    align-items: center;
}
.back p {
    padding: 20px;
    text-align: justify;
}


@media (max-width:900px) {
    .tile {
        /* background-color: rgb(239, 239, 239); */
        /* height: 300px; */
        width: 100.00%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
    }

    .test_container {
        padding-top: 160px;
    }
}