.footer_vol {
    background-color: #F8FAFC;
    width: 100%;
}

.footer {
    /* background-color: red; */
    /* background-color: #F8FAFC; */
    width: 80%;
    padding: 20px 0;
    margin: auto;
    color: #71717A;
}

.newsletter {
    background: #0081C9;
    /* background-color: #2563EB; */
    border-radius: 20px;
    display: flex;
    padding: 60px 0;
    margin: 30px 0;
    justify-content: center;
}

.blue_container_heading {
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 40px;
    text-align: center;
    line-height: 48px;
    color: white;
}

.input_subscribe_button {
    background-color: white;
    width: 250px;
    color: black;
    cursor: pointer;
    font-weight: 600;
    padding: 17px 16px 17px 16px;
    border: 1px solid white;
    font-family: "Urbanist" !important;
    border-radius: 9px !important;
}


.input_subscribe_button:hover {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
}

::placeholder {
    color: white;
}

.first_name {
    border-radius: 5px;
    padding: 17px 16px 17px 20px;
    border: 1px solid #D4D4D8;
    margin-top: 20px;
    width: 250px;
    color: white !important;
    margin-right: 10px;
    background-color: transparent;
    /* background-color: red; */
    outline: none;
}

.blue_container_flexbox input {
    color: white !important;
}


.footer_main {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    /* background-color: red; */
    border-bottom: 1px solid #E2E8F0;
}

.footer_main_one {
    width: 20%;
    /* background-color: pink; */
}

.footer_main_one img {
    width: 70%;
}

.footer_main_two {
    /* background-color: red; */
    width: 20%;
}

.footer_main_three {
    width: 20%;
}

.footer_main_four {
    width: 10%;
}

.footer_heading {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    /* or 138% */
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0081C9;
    padding-bottom: 15px ;
}

.footer_lines {
    /* background-color: red; */
    margin: 10px 0;
    font-size: 14px;
}

.last_line {
    padding: 40px 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    /* font-family: 'Urbanist'; */
    color: #71717A;
    /* line-height: 22px; */
}

.footer_icons_container {
    border-radius: 100%;
    border: 0.01px solid grey;
    width: max-content;
    padding: 4px 6px;
    color: black;
    display: flex;
    font-size: 15px;
    justify-content: center !important;
    align-items: center !important;
    margin-right: 20px;
    cursor: pointer;
    /* background-color: red; */
}

.icon_container_t {
    display: flex;
    margin-top: 40px;
    justify-content: flex-start;
}

.footer_icons_container>a {
    color: #000;
    padding-top: 2px;
    text-decoration: none !important;
}

@media only screen and (max-width:1085px) {
    .blue_container_flexbox {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .first_name {
        margin-bottom: 10px;
        width: 500px;
        /* width: 100%; */
        /* margin-right: 0px; */
    }

    .input_subscribe_button {
        text-align: center;
        margin: auto;
    }

}


@media only screen and (max-width:697px) {
    .blue_container_flexbox {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .first_name {
        margin-bottom: 10px;
        width: 300px;
        margin: 10px auto;
        /* width: 100%; */
        text-align: center;
        /* margin-right: 0px; */
    }
}


@media only screen and (max-width:630px) {
    .footer {
        /* background-color: red; */
        width: 80%;
        padding: 10px 0;
    }

    .footer_main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footer_main_one,
    .footer_main_two,
    .footer_main_three,
    .footer_main_four {
        width: 100%;
        /* border-top: 1px solid #000; */
        margin-bottom: 20px;
    }

    .footer_main_four {
        margin: 0;
        padding: 0;
        /* background-color: pink; */
    }

    .last_line {
        padding: 40px 0;
    }

    .footer_main_one img {
        width: 40%;
    }

}

@media only screen and (max-width:455px) {
    .blue_container_flexbox {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .first_name {
        margin-bottom: 10px;
        width: 200px;
        margin: 10px auto;
        /* width: 100%; */
        text-align: center;
        /* margin-right: 0px; */
    }

    .blue_container_heading {
        font-size: 30px;
    }
}