.product_container {
    /* background-color: #0081C9; */
    /* height: 80vh; */
}

.products_tag {
    /* border: 1px solid grey; */
    font-size: 200px;
    font-weight: 400;
    word-spacing: 90px;
    font-family: 'DM Serif Display';
    color: rgba(35, 35, 35, 0.24);
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    text-align: center;
    color: rgba(202, 202, 202, 0.24);
    padding: 110px 0 0 0;
}

.product_image_container {
    margin: auto;
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    /* border: 6px solid lime; */
}

.award_img {
    height: 450px;
    width: 100%;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /* background-color: red; */
    /* padding-left: 50px; */
    padding: 20px;
}

.award_img img {
    margin-bottom: 40px;
    width: 100%;
}

/*  */
.award_img::-webkit-scrollbar {
    display: none;
}

.product_timeline {
    width: 5%;
    display: flex;
    font-size: 25px;
    font-family: 'DM Serif Display';
    flex-direction: column;
    align-items: center;
    color: grey !important;
}

.year {
    text-align: center;
    /* background-color: red; */
}

.year_active {
    color: rgb(0, 0, 0) !important;
    font-size: 35px;
    color: pink;
    background-color: white;
}

.year_deactivate>.link {
    font-size: 20px;
    /* margin: 1px 0; */
    /* background-color: rgb(242, 10, 10); */
    /* background-color: pink; */
    color: rgb(191, 191, 191) !important;
}

.line_year {
    background-color: rgb(211, 211, 211);
    width: 1px;
    height: 20px;
}

.line_year_green {
    background-color: rgb(47, 255, 0);
    width: 1px;
    height: 20px;
}

.line_year_green_dot {
    background-color: rgb(47, 255, 0);
    width: 6px;
    height: 6px;
    border-radius: 50px;
}

@media (max-width:937px) {
    .product_image_container {
        width: 90%;
    }

    .award_img {
        height: 400px;
        width: 100%;
        padding: 40px;
    }

    /* .year {
        font-size: 15px;
    } */

}