.submit_container {
    /* width: 50%; */
    margin: auto;
    padding: 100px 0;
    /* background-color: red; */
    text-align: center;
}

.submit_heading {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    color: rgba(0, 129, 201, 0.85);

}

.submit_flex_box {
    width: 50%;
    flex-wrap: wrap;
    display: flex;
    justify-content:space-evenly;
    align-items: center !important;
    margin: auto;
    padding: 50px 0 0 0;
    /* border: 1px solid lime; */
}
.input_email{
    /* background-color: red; */
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
}
.button_flex{
    /* border: 2px solid palevioletred; */
    display: flex;
    justify-content: space-between !important;    
}
.button_flex button{
    /* background-color: red !important; */
}
.input_email input {
    padding: 24px 100px;
    width: 581px;
    background: rgba(217, 217, 217, 0.47);
    border: none;
    border-radius: 50px;
    outline: none;
    text-align: center;
    color: rgb(111, 111, 111) !important;
    font-size: 18px;
    /* border: 1px solid pink; */
}

.input_email input::placeholder {
    color: rgb(116, 116, 116);
    color: rgb(160, 160, 160);
    font-size: 18px;
    font-family: "Urbanist";
    /* border: 1px solid lime; */
}
.new_container{
    /* background-color: red; */
}

.download {
    color: #0081C9;
    padding: 24px 0px;
    /* background-color: red; */
    /* margin-bottom: 30px; */
    /* border: 1px solid pink; */
    margin-bottom: 50px;
}
.download:hover{
    transform: scale(1.2);
}

.d_para {
    font-size: 12px;
}

.submit_btn {
    width: max-content;
    background-color: #0081C9;
    color: white;
    font-size: 12px;
    margin: auto;
    padding: 15px 50px;
    text-transform: uppercase;
    font-family: "Urbanist";
    letter-spacing: 2px;
    font-weight: 600;
    /* background-color: red; */
    border-radius: 4px;
}
.submit_btn:hover {
    background-color: #0a9ff0;
    cursor: pointer;
}

@media (max-width:944px) {
    .submit_flex_box {
        display: flex;
        width: 60%;
        flex-wrap: wrap;
        align-items: center;
        margin: auto;
        padding: 50px 0;
        /* border: 1px solid lime; */
        justify-content: center;
    }
    .download {
        margin-top: 20px;
        color: #0081C9;
    }
}
@media (max-width:620px) {
    .input_email input {
        padding: 24px 50px;
        width: max-content;
        font-size: 16px;
    }

}

@media (max-width:420px) {
    .input_email input {
        /* padding: 24px 50px; */
        width: 100%;
    }
    .button_flex{
        display: flex;
        padding: 10px 0;
        /* border: 2px solid lime; */
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    .button_flex button {
        margin-bottom: 20px;
    }
}