.contact_us_button {
    position: absolute;
    bottom: 10%;
    right: 10%;
    border-radius: 2px;
    background-color: #377C2B;
    /* padding: 20px 40px; */
    text-transform: uppercase;
    font-weight: 700;
    /* width: 131px;/ */
    height: 48px;
    padding: 17px 18px;
    font-size: 12px;
    position: fixed;
    color: white !important;
    letter-spacing: 0.17em;
    transition: 200ms;
    z-index: 99;
    text-decoration: none;
}

.icons_container {
    position: absolute;
    position: fixed;
    bottom: 0;
    right: -1%;
}

.icon {
    position: absolute;
    top: 75%;
    right: -3%;
    transform: rotate(-90deg);
    position: fixed;
    padding: 5px 18px;
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 4px;
}

.icon img {
    width: 100%;
    transition: 200ms;
    cursor: pointer;
}


.click_me_button {
    position: absolute;
    top: 40%;
    right: -1%;
    transform: rotate(-90deg);
    position: fixed;
    padding: 5px 18px;
    /* color: white; */
    cursor: pointer;
    color: white;
    border-radius: 4px;
    /* text-transform: /uppercase; */
    background-color: rgb(0, 153, 255);
}

@media (max-width:920px) {
    .contact_us_button {
        bottom: 10%;
        right: 10%;
        font-weight: 700;
        padding: 5px;
        display: flex;
        /* font-size: 6px !important;    */
        justify-content: center;
        align-items: center;
        /* background-color: red; */
    }
}

@media (max-width:450px) {
    .icon {
        position: absolute;
        top: 75%;
        right: -10%;
        transform: rotate(-90deg);
        position: fixed;
        padding: 5px 18px;
        cursor: pointer;
        background-color: green;
        color: white;
        border-radius: 4px;
    }

    .click_me_button {
        position: absolute;
        top: 40%;
        right: -3%;
        transform: rotate(-90deg);
        position: fixed;
        padding: 5px 18px;
        /* color: white; */
        cursor: pointer;
        color: white;
        border-radius: 4px;
        /* text-transform: /uppercase; */
        background-color: rgb(0, 153, 255);
    }

}