.homepage {
  position: relative;

  /* background-color: #F8FAFC; */
  /* background-color: whitesmoke; */
  /* background-color: red; */
}

.imageContainer {
  /* width: 100%;
  height: 300px; */
  filter: brightness(100%);
}

.heroVideo {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .heroVideo {
    height: 100vh;
  }
}

.imageContainer video {
  width: 100%;
  display: block;
  /* object-fit: cover; */
}
