.homepage {
  position: relative;
  /* background-color: #F8FAFC; */
  /* background-color: whitesmoke; */
  /* background-color: red; */
}

.imageContainer {
  /* height: 100vh; */
  /* width: 80%; */
  width: calc(100% - 18px);
  text-align: center;
  margin: auto;
  /* background-image: url("../../components/videos/homepage1.mp4"); */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -99;
  object-fit: contain;
}

.imageContainer video {
  /* position: absolute; */
  margin-top: -5px !important;
  object-fit: cover;
}

.imageContainer img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media only screen and (min-width: 1440px) {
  .imageContainer {
    /* height: 100vh; */
    /* width: 80%; */
    width: calc(100% - 18px);
    /* margin-top: -200px; */
    text-align: center;
    margin: auto;
    /* background-image: url("../../components/videos/homepage1.mp4"); */
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -99;
    object-fit: cover;
    /* top: 0; */
    /* border: 2px solid rgb(255, 13, 0); */
  }

  .imageContainer video {
    /* position: absolute; */
    margin-top: -7px !important;
    object-fit: cover;
  }
}

@media only screen and (min-width: 768px) {
  .imageContainer img {
    height: 100vh;
  }
}

.imageContainer video {
  width: 100%;
  display: block;
  /* object-fit: cover; */
}

@media only screen and (min-width: 420px) {
  .imageContainer img {
    height: 100vh;
  }
}

.imageContainer video {
  width: 100%;
  margin-top: 25px;
  /* border: 1px solid lime; */
  display: block;
  /* object-fit: cover; */
}