.homepage {
    position: relative;

    /* background-color: #F8FAFC; */
    /* background-color: whitesmoke; */
    /* background-color: red; */
}

.imageContainer {
    /* height: 100vh; */
    width: 100%;
    /* background-image: url("../../components/videos/homepage1.mp4"); */
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(30%);
    z-index: -99;
    object-fit: contain;
}   

.imageContainer video {
    width: 100%;
    display: block;
    /* object-fit: cover; */
}