.homepage {
    position: relative;
    /* background-color: #F8FAFC; */
    /* background-color: whitesmoke; */
    /* background-color: red; */
}

.imageContainer {
    /* height: 100vh; */
    width: 75%;
    text-align: center;
    margin:auto;
    /* background-image: url("../../components/videos/homepage1.mp4"); */
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(100%);
    z-index: -99;
    object-fit: contain;
}

.imageContainer img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .imageContainer img {
    height: 100vh;
  }
}

.imageContainer video {
  width: 100%;
  display: block;
  /* object-fit: cover; */
}
