.dropdown_container {
    /* background-color: red; */
    width: 100px;
    border-radius: 0;
    position: relative;
}

.dropdown_items button.selected {
    background-color: white;
    color: #0081C9;
}

.dropdown_items button.selected:hover {
    background-color: white;
    color: #0081C9;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    color: white;
}

.dropdown_btn {
    /* background-color: red; */
    display: flex;
    /* color: white; */
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 0 20px;
    color: white;
}

.dropdown_content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: rgb(255, 255, 255); */
    flex-direction: column;
    position: absolute;
    /* top: calc(100% + 15px); */
    top: 80%;
    right: -20%;
    /* background-color: rgb(255, 255, 255); */
}

.dropdown_items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(47, 255, 0); */
    background-color: #0081C9;
}

.dropdown_items button {
    margin-top: 1px;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

.dropdown_items button:hover {
    background-color: #ffffff;
    color: #0081C9;
    /* border: 1px solid lime; */

}

@media (max-width:780px) {
    .dropdown_items button {
        margin-bottom: -20px;
        font-size: 10px;
        /* color: black; */
    }

    .dropdown_content {
        /* border: 1px solid white; */
    }
}

@media (max-width:444px) {

    .dropdown_items button {
        /* margin-bottom: -30px; */
        font-size: 10px;
        /* color: black; */
    }


    .dropdown_items button.selected {
        background-color: white;
        padding: 10px 20px;
        color: #0081C9;
    }

    .dropdown_items button.selected:hover {
        /* background-color: white; */
        /* color: #0081C9; */
    }

    .dropdown_content {
        /* background-color: plum !important; */
        /* border: 1px solid white; */
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: -20%;
    }

    .dropdown_items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: rgb(47, 255, 0); */
        background-color: #0081C9;
        /* background-color: plum; */
        padding-bottom: 20px;
    }
}