.company_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.company_logo {
    width: 200px !important;
    height: 200px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.company_logo img {
    width: 100%;
    /* padding: 20px; */
    transition: 200ms ease;
}

.company_logo img:hover {
    /* transform: scale(1.2); */
}

@media (max-width:500px) {
    .company_container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
    }

    .company_logo {
        width: 150px !important;
        height: 150px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
    }
}